@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/*	DESIGNED BY BRAVE#3907 */
/*	You are not allowed to copy, change or sell this product in any way! */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-font-color: #14142b;
	--main-active-font-color: #fcfcfc;
	--main-button-color: #eff0f6;
	--main-border-color: #d9dbe9;
	--main-active-button-color: #610bef;
	--main-background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-font-color: #fff;
		--main-active-font-color: #fcfcfc;
		--main-button-color: #12161a;
		--main-border-color: #434547;
		--main-active-button-color: #610bef;
		--main-background-color: #0c0f12;
	}
}

/*---    MAIN CONTAINER    -------------------------------------------------------------*/

.container {
	width: 957px;
	height: 720px;
	/* background-color: var(--main-background-color); */
	background-color: var(--main-background-color);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	-ms-user-select: None;
	-moz-user-select: None;
	-webkit-user-select: None;
	user-select: None;
}

.rahmen {
	position: absolute;
	top: -32px;
	left: -33px;
	height: 782px;
	width: 1021px;
	z-index: -1;
}

.title {
	width: 240px;
	height: 48px;
	margin-top: 64px;
	margin-left: 304px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.5px;
	color: var(--main-font-color);
}

.grid {
	display: flex;
	margin-top: 25px;
	margin-left: 68px;
	gap: 68px;
}

.menu {
	margin-top: 7px;
	width: 170px;
	height: auto;
}

.button {
	padding: 14 25 14 25;
	margin-bottom: 20px;

	height: auto;
	width: 170px;
	border: none;
	outline: none;
	border-radius: 12px;
	cursor: pointer;

	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.75px;

	transition: 0.3s;

	background: var(--main-button-color);
	color: var(--main-font-color);
}

.active_button {
	padding: 14 25 14 25;
	margin-bottom: 20px;

	height: auto;
	width: 170px;
	border: none;
	outline: none;
	border-radius: 12px;
	cursor: pointer;

	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.75px;

	transition: 0.3s;

	background: var(--main-active-button-color);
	color: var(--main-active-font-color);
}

@media (prefers-color-scheme: light) {
	.button:hover {
		box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.2);
	}
	.active_button:hover {
		box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.2);
	}
}

@media (prefers-color-scheme: dark) {
	.button:hover {
		background-color: #181e23;
		box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.4);
	}
	.active_button:hover {
		background-color: #560bd3;
		box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.4);
	}
}

.sidebar {
	width: 570px;
	height: auto;
}

.startseite {
	width: auto;
	height: auto;
	position: fixed;
}

.rigs_starten {
	width: auto;
	height: auto;
	position: fixed;
}

.rigs_kaufen {
	width: auto;
	height: auto;
	position: fixed;
}

.text5 {
	height: 22px;
	margin-bottom: 4px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 0.25px;
	color: var(--main-font-color);
}

.text4 {
	height: 22px;
	margin-top: 4px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.25px;
	color: #feaa5c;
}

.text3 {
	height: 32px;
	margin-bottom: 12px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 32px;
	letter-spacing: 1px;
	color: #ed4245;
}

.text2 {
	height: 34px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 1px;
	color: var(--main-font-color);
}

.text2_1 {
	height: 34px;
	margin-bottom: 12px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 1px;
	color: #14c264;
}

.text1 {
	height: 32px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 32px;
	letter-spacing: 1px;
	color: var(--main-font-color);
}

.elementgrid {
	display: flex;
	gap: 35px 45px;
	flex-wrap: wrap;
}

.header_element {
	width: 550px;
}

.element {
	width: 250px;
}

.button2 {
	padding: 14 25 14 25;
	width: 230px;
	height: auto;
	border: none;
	outline: none;
	border-radius: 12px;
	cursor: pointer;

	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.75px;

	transition: 0.3s;

	background: var(--main-button-color);
	color: var(--main-font-color);
}

@media (prefers-color-scheme: light) {
	.button2:hover {
		box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.2);
	}
}

@media (prefers-color-scheme: dark) {
	.button2:hover {
		background-color: #181e23;
		box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.4);
	}
}

.elementgrid2 {
	margin-top: 7px;
	display: flex;
	row-gap: 20px;
	flex-direction: column;
}

.element2_1 {
	width: 570px;
	height: auto;
	padding: 26 38 28 38;
	border: 1px solid var(--main-border-color);
	border-radius: 16px;
}
.element2_2 {
	width: 570px;
	height: auto;
	padding: 26 38 28 38;
	border: 1px solid var(--main-border-color);
	border-radius: 16px;
}
.element2_3 {
	width: 570px;
	height: auto;
	padding: 26 38 28 38;
	border: 1px solid var(--main-border-color);
	border-radius: 16px;
}

.text_grid {
	display: flex;
	justify-content: space-between;
}

.text6 {
	height: 32px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0.75px;
	color: var(--main-font-color);
}

.text7 {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.75px;
	color: #14c264;
}

.text8 {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.75px;
	color: var(--main-font-color);
}

.spacer {
	height: 8px;
}

.elementgrid3 {
	margin-top: 7px;
	display: flex;
	row-gap: 20px;
	flex-direction: column;
}

.element3 {
	width: 570px;
	height: auto;
	padding: 26 38 26 38;
	border: 1px solid var(--main-border-color);
	border-radius: 16px;
}

.text_grid2 {
	display: flex;
	justify-content: space-between;
}

.button3 {
	width: 100px;
	height: 40px;
	margin-top: 6px;
	border: none;
	outline: none;
	border-radius: 8px;
	cursor: pointer;

	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.25px;

	transition: 0.3s;

	background: #14c264;
	color: #ffffff;
}

@media (prefers-color-scheme: light) {
	.button3:hover {
		box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.2);
	}
}

@media (prefers-color-scheme: dark) {
	.button3:hover {
		background-color: #11ac58;
		box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.4);
	}
}

.text6_1 {
	height: 32px;
	margin-bottom: 8px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0.75px;
	color: var(--main-font-color);
}

.text8_1 {
	margin-bottom: 2px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.75px;
	color: var(--main-font-color);
}
